ion-view(title='Home')
  ion-content(has-header='true', padding='true')
    button.button.button-block.button-positive(ui-sref="question")
      | Question
    button.button.button-block.button-positive(ui-sref="setting")
      | Setting

    
